name: run-python-application

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read # access to check out code and install dependencies

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"
    
    - name: Run python file
      run: |
        python3 hello.py "World"
inputs:
  name:
    required: true
    type: string

- name: Run python file 
  env:
    name: ${{ inputs.name }}
